.list {
    background-color: #E6E4E4;
    width: 250px;
    height: 360px;
    padding: 15px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.listdown {
    background-color: #fff;
    font-size: 15px;
    padding: 15px;
}

.list p {
    text-align: justify;
    font-size: 22px;
}

div {
    border-radius: 1em;
    box-shadow: 0 0 5px;
    padding: 5px;
}

input {
    border-radius: 1em;
    background-color: #2C96E3;
}

#noname {
    width: 100px;
    height: 30px;
    color: white;
    margin: 10px 5px;
}